import { Entity, PrimaryGeneratedColumn, Column } from 'typeorm';

@Entity()
export class {{ entity_name }} {
  @PrimaryGeneratedColumn('uuid')
  id: string;
{% for attr_name, attr_type in attributes.items() %}
  @Column()
  {{ attr_name }}: {{ attr_type|typescript_type }};
{% endfor %}
}
