import { DataSource } from 'typeorm';
import { {{ entities|map(attribute='name')|join(', ') }} } from '../entities';

export default new DataSource({
  type: 'postgres',
  url: process.env.DATABASE_URL,
  entities: [{{ entities|map(attribute='name')|join(', ') }}],
  synchronize: false,
  migrations: ['dist/migrations/*.js'],
});
